.formWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}


.inputItemsTitle {
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  width: 100%;
  padding: 6px 29px;
  border: none;
  border: 1px solid transparent;
  margin-top: 43px;
  ::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #3e3b3b;
  }
  &:hover {
    border: 1px solid black;
  }
}

.inputItemsDescription {
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  width: 100%;
  padding: 6px 29px;
  border: none;
  margin-top: 26px;
  margin-bottom: 26px;
  border: 1px solid transparent;
  ::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #3e3b3b;
  }
  &:hover {
    border: 1px solid black;
  }
}

.datePicker{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button {
  text-align: center;
  background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
  box-shadow: 0px 4px 4px #acd4e1;
  border-radius: 25px;
  padding: 16px 122px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #3e3b3b;
  margin-top: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
}

@media (max-width: 768px) {
  .button {
    padding: 10px 100px;
  }
  .datePicker{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:26px;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 10px 80px;
  }
}

.error{
  border:1px solid red;
}
