.circle {
  position: absolute;
  display: block;
  width: 525.73px;
  height: 252px;
  left: 217px;
  top: -147px;
  background: #acd4e1;
  border-radius: 50%;
  z-index: 2;
}

.circleTwo {
  position: absolute;
  width: 513.64px;
  height: 292px;
  left: 549.36px;
  top: -115px;
  z-index: 2;
  background: #acd4e1;
  border-radius: 50%;
}

.circleThree {
  position: absolute;
  width: 487.07px;
  height: 252px;
  left: 247.07px;
  top: -95px;
  background: #c8e3ec;
  z-index: 1;
  border-radius: 50%;
}

.circleFour {
  position: absolute;
  width: 475.88px;
  height: 292px;
  left: 554.99px;
  top: -63px;
  background: #c8e3ec;
  z-index: 1;
  border-radius: 50%;
}
