.appContainer {
  max-width: 816px;
  margin: 30px auto;
  position: relative;
}

.circle {
  position: absolute;
  display: block;
  width: 525.73px;
  height: 252px;
  left: 217px;
  top: -147px;
  background: #acd4e1;
  border-radius: 50%;
  z-index: 2;
}

.circleTwo {
  position: absolute;
  width: 513.64px;
  height: 292px;
  left: 549.36px;
  top: -115px;
  z-index: 2;
  background: #acd4e1;
  border-radius: 50%;
}

.circleThree {
  position: absolute;
  width: 487.07px;
  height: 252px;
  left: 247.07px;
  top: -95px;
  background: #c8e3ec;
  z-index: 1;
  border-radius: 50%;
}

.circleFour {
  position: absolute;
  width: 475.88px;
  height: 292px;
  left: 554.99px;
  top: -63px;
  background: #c8e3ec;
  z-index: 1;
  border-radius: 50%;
}

.appContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 5;

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
    letter-spacing: 0.25em;
    color: #000000;
  }

  .inputItemsTitle {
    background: #a8d2a5;
    width: 816px;
    padding: 6px 29px;
    border: none;
    border: 1px solid transparent;
    margin-top: 43px;
    ::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      color: #3e3b3b;
    }
    &:hover {
      border: 1px solid black;
    }
  }

  .inputItemsDescription {
    background: #a8d2a5;
    width: 816px;
    padding: 6px 29px;
    border: none;
    margin-top: 26px;
    border: 1px solid transparent;
    ::placeholder {
      font-weight: 400;
      font-size: 18px;
      line-height: 29px;
      color: #3e3b3b;
    }
    &:hover {
      border: 1px solid black;
    }
  }

  .button {
    background: linear-gradient(90deg, #a8d2a5 0%, #acd4e1 115.2%);
    box-shadow: 0px 4px 4px #acd4e1;
    border-radius: 25px;
    padding: 16px 122px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #3e3b3b;
    margin-top: 21px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      border: 1px solid black;
    }
  }
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 36px;
  padding: 5px;
  .topTask {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #3e3b3b;
    box-shadow: 0px 4px 4px #c8e3ec;
    .topLeftSideTask {
      display: flex;
      align-items: center;
      font-size: 30px;
      h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        text-decoration-line: line-through;
        color: #c4c4c4;
        margin-left: 21px;
      }
    }
  }
  .bottomTask {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: #c4c4c4;
  }
}
